<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App</title>
  <link rel="stylesheet" href="/frontend/public/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/frontend/views/auth/login.html">Login</a>
      <a href="/frontend/views/auth/signup.html">Signup</a>
    </nav>
    
    <main>
      <!-- -->
    </main>
  </div>
  
  <script src="/frontend/public/js/home.js"></script>
</body>
</html>