body {
    background-color: #f5f0e6;
    font-family: 'Inknut Antiqua', serif;
}
.container {
    margin-top: 0.5rem;
}
.section-title {
    margin-bottom: 3rem;
}
.form-control {
    background-color: #fff;
    border: 1px solid #ccc;
}
.btn-custom {
    background-color: #d1bfa7;
    color: #fff;
    border: none;
}
.btn-custom:hover {
    background-color: #bfa58e;
}